@import 'mixin';

#{$field} {
    .select {
        // default system select
        &-sys {
            @include el-size(100%, 100%);
            padding-right: 3rem;
            background-color: transparent;
            // background: svgIcon(ico_selArrow);
            background-position: calc(100% - 1rem) 50%; background-size: 1.6rem 1.6rem;
            color: inherit; white-space: nowrap; text-overflow: ellipsis;
            border:none;
        }
        &-lst {
            & > li {
                padding:1rem 0; border-bottom:.1rem solid $color-gray5;
                transition:all .3s ease-in-out;
                // & ~ li {border-top:.1rem solid $color-gray5;}
                & > a {
                    @include display(flex) {justify-content:space-between; align-items:space-between;}
                    @include el-content(after) {
                        @include el-size(2rem, 2rem); min-width:2rem;
                        background: svgIconForm(chk-line, aaa); background-position: 100% 100%;
                        vertical-align:middle;
                    }
                }
                &._is-active {
                    border-color:$color-blue;
                    &  > a {
                        color:$color-blue; font-weight:700;
                        @include el-content(after) {
                            background: svgIconForm(chk-line-square, 2380ff);
                        }
                    }
                }
            }
        }
    }
}

.modalPop[select-target] {
    .modal {
        &-title {
            @include display(flex) {justify-content:space-between; align-items:space-between;}
            margin-bottom:1.5rem;
            .tit {
                flex:1;
                &.dep02 {font-size:var(--space-mx); padding:0;}
            }
            .ico-pop-close {background-position:100% 100%;}
        }
    }
}