%transition3s {@include transition(.3s, all, ease-in-out);}
.no-scroll {@include overflow(both, hidden);}

.modalPop {
    @include display(none);
    @include pos(fixed) {left: 0; z-index: 9995;}
    @include el-size(100%, 100%);
    
    &._top {
        @include pos-offset-l(-100%, 0, fixed);
        width:100%; margin:auto;

        & > .modalWrap {
            @extend %transition3s;
            border-radius:0 0 1rem 1rem;
        }
    }

    &._left {
        @include pos-offset-l(0, -100%, fixed);
        @include el-size(80%, 100%);
        margin:auto;

        & > .modalWrap {
            @include display(flex) {flex-direction:column;}
            height:100%;
            @extend %transition3s;
            // border-radius:0 1rem 1rem 0;

            .modal {
                &-header, &-footer {flex-shrink:0;}
                &-container {flex:1; flex-shrink: 0; flex-basis: 0;}
            }
        }

        &._scroll {
            .modal-container {@include overflow(y, auto);}
        }
    }

    &._center {
        @include pos-offset-l(50%, 50%, fixed);
        // transform: translate(-50%, -50%);
        width:80%;

        &._scroll {
            .modal-container {@include overflow(y, auto); max-height:80%;}
        }

        & > .modalWrap {min-height:30%; border-radius:1rem;}
    }

    &._bottom {
        @include pos-offset-b(-100%, 0, fixed);
        // transform:translateY(0);
        width:100%; margin:auto;

        &._scroll {
            .modal-container {@include overflow(y, auto); max-height:80%;}
        }

        & > .modalWrap {@extend %transition3s; border-radius:1rem 1rem 0 0;}
    }

    .modal {
        &Wrap {
            background-color: $color-white;
            border: .1rem solid $color-gray3;
            padding: 2rem;
            box-sizing: border-box;
        }
        &-header {
            @include display(flex) {flex-shrink:1; align-items: center;}
            margin-bottom: 1rem;

            .mp {
                &-title {
                    flex:1; text-align:center;
                    &.dep01 {
                        font : {
                            size:var(--space-mx);
                            weight:bold;
                        }
                    }
                }
            }
        }
        &-container {
            font-size:var(--space-md);
            line-height: 1.5;
            margin-bottom: 2rem;
        }
        &-footer {
            text-align: right;
            .btnWrap {margin:0;}
        }
    }

    &._is-active {@include display(block);}
}

.dimmed {
    @include pos-offset-l(0, 0, fixed){z-index: 9990;}
    @include el-size(100%, 100%); @include overflow(both, hidden);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.5rem); -webkit-backdrop-filter: blur(.5rem);
}

// <div class="toastWrap" role="alert" aria-live="assertive" tabindex="0"><a href="#" class="btn ico-close" aria-label="Close"><span class="hide">토스트팝업닫기</span></a><div class="toast-msg"></div></div>
.toast {
    &Wrap {
        @include display(flex) {justify-content: space-between; align-items:center;}
        @include pos-offset-b(0,0, fixed); margin:1rem; width:calc(100% - 2rem);
        background-color: rgba(0, 0, 0, 0.5); border-radius:1rem;
        
        & > a {
            @include display(inline-block); flex-shrink:0; opacity:0;
            @include el-content(before) {
                @include el-size(.1rem, 2.4rem);
                background-image: svgIcon(ico_close, fff);
            }
            &._is-active {
                opacity:1;
                @include el-content(before) {
                    width:2.4rem;
                }
            }
        }
    }

    &-msg {
        flex:1;
        padding:1rem 5rem 1rem 5rem; color:$color-white; text-align:center;
    }
}

.btn {
    &Wrap {margin:1rem;}
    &-modal {
        background:#333;
        padding:.5rem 1rem;
        color:#fff;
        border-radius:.3rem;
        & ~ & {margin-left:.5rem;}
        &:hover {
        background:#0048ff;
        }
    }
}


.tooltip {
    @include display(none); opacity:0;
    @include pos(absolute) {z-index:1;}
    padding:1rem; background:$color-white; border:.1rem solid $color-gray3;
    transition: opacity .25s cubic-bezier(.86, 0, .07, 1);

    
    &Wrap {
        @include pos(relative);
        &.r .tooltip {text-align: left;}

    }

    &._right, &._left {max-width: 60%;}
    &._top, &._bottom {max-width: calc(100% - 20px);}

    &-content {
        @include pos(relative); margin-right:2rem;
        .ico-tooltip-close {
            @include pos-offset-r(0, -2rem);
        }
        
    }
    &-message {}

    
    &._is-active {@include display(block); opacity:1;}
}

%ico_tipL {
    @include el-content(before) {
        top:.6rem; left:auto; right:-1.7rem;
        transform: rotate(135deg);
    }
}
%ico_tipR {
    @include el-content(before) {
        top:.6rem; left:-1.7rem; right:auto;
        transform: rotate(315deg);
    }
}
.ico-tooltip {
    @include el-content(before) {opacity:0;}
    &._is-active {
        @include pos(relative);
        @include el-content(before) {
            @include pos(absolute) {z-index:5;}
            @include el-size(1rem, 1rem);
            opacity:1;
            background:$color-white;
            box-shadow: 1px 1px 0 0 $color-gray3;
        }

        &._default {@extend %ico_tipL;}
        &._left {@extend %ico_tipR;}
        
        &._top {
            @include el-content(before) {
                top:-1.7rem; left:.4rem; right:auto;
                transform: rotate(45deg);
                transition: opacity .25s cubic-bezier(.86, 0, .07, 1);
            }
        }
        &._bottom {
            @include el-content(before) {
                bottom:-1.7rem; left:.4rem; right:auto;
                transform: rotate(225deg);
            }
        }
    }
}

.reverse {
    &.ico-tooltip {
        &._is-active {
            &._default {@extend %ico_tipR;}
            &._left {@extend %ico_tipL;}
        }
    }
}