.accordion-wrap {
    border: 2px solid $color-black;

    .accordion {
        border-top: 1px solid $color-black;

        &:first-child {
            border-top: none;
        }
    }
}

.btn-toggle {
    @include display(block);
    @include auto-vertical-align;
    right: 0.8rem; 
    width: 4.4rem; height: 4.4rem;

    &:not([class*='btn-style']){
        &::after { 
            content: '';
            @include display(block);
            @include auto-vertical-align;
            right: 1.5rem;
            width: 1.2rem; height: 1.2rem;
            border: 2px solid $color-black;
            border-width: 2px 2px 0 0;
            transform: translateY(-75%) rotate(135deg);
            @extend %transition3s;
        }

        &._is-active {
            &::after {
                right: 1.2rem;
                transform: rotate(-45deg) translateY(-25%);
            }
    
            &.btn-act-orange::after {
                border-color: $color-orange;
            }
        }
    }

    &.toggle-tit {
        top: auto; right: auto;
        width: 100%; height: auto;
        transform: none;

        &::after {
            right: 2.3rem;
        }

        &._is-active::after {
            right: 2.1rem;
        }
    }

    &.btn-style-02 {
        &::before,
        &::after {
            content: '';
            @include display(block);
            @include auto-vertical-align;
            right: 1.9rem;
            width: 1.3rem; height: 0.2rem;
            background: $color-black;
            transform: translateY(-75%) rotate(-45deg);
            @extend %transition3s;
        }

        &::after {
            right: 2.8rem;
            transform: translateY(-75%) rotate(45deg);
        }

        &._is-active {
            &::before {
                right: 1.9rem;
                transform: translateY(-75%) rotate(45deg);
            }

            &::after {
                right: 2.8rem;
                transform: translateY(-75%) rotate(-45deg);
            }
    
            &.btn-act-orange {
                &::before,
                &::after {
                    background-color: $color-orange;
                }
            }
        }
    }

    &.btn-none {
        width: auto;
        margin-right: 5rem;
        padding: 1rem;

        &::after {
            display: none !important;
        }
    }
}

.btn-more {
    @include display(block);
    @include auto-vertical-align;
    right: 0.6rem; 
    width: 4.4rem; height: 4.4rem;

    &::after { 
        content: '';
        @include display(block);
        @include auto-vertical-align;
        right: 1.75rem;
        width: 1.2rem; height: 1.2rem;
        border: 2px solid $color-black;
        border-width: 2px 2px 0 0;
        transform: translateY(-50%) rotate(45deg);
    }
}

.toggle-tit {
    @include display(block);
    position: relative;
    padding: 1rem 5rem 1rem 2rem;
    font-size: var(--space-md);

    & ~ .btn-style-02 {
        &::before {
            right: 1.1rem;
        }

        &::after {
            right: 2rem;
        }

        &._is-active {
            &::before {
                right: 1.1rem;
            }
    
            &::after {
                right: 2rem;
            }
        }
    }
}

.accordion-header {
    position: relative;

    &.flex {
        align-items: center;
        padding-left: 2rem;
        
        .toggle-tit {
            flex-grow: 1;
            width: auto;
        }
    }
}

.accordion-contents {
    @include display(none);
    padding: 1rem 2rem;
    border-top: 1px solid $color-gray8;
}