#{$tab} {
  &-swiper {
    @include width;
    background:$color-white;
    @include overflow(x, hidden);
  }
  &-nav {
    @include pos(relative); @include height(50px); @include overflow(x, hidden);
    background-color: $color-white;
    padding-right:20px;

    #{$swiper}{
      &-slide {
        @include display(block);
        @include width(auto); @include overflow(y, hidden);
        cursor: pointer;      
        & > a {
          padding:1rem;
          color: $color-gray2;
          font-size:var(--space-ms);
          text-align: center;
          
          @include el-content(after) {
            @include el-size(0, .2rem);
          }
        }
        &.active > a {
          font-weight:bold;
          @include line-effect($color-blue3, after, center) {
            @include transition(0.5s, width, ease);
            @include el-size(100%, .2rem);
            bottom:0;
            background:$color-green2;
            border-radius:.4rem;
          }
        }
      }
    }
    &.moveBar {
      #{$swiper}{
        &-slide {
          &.active > a {
            @include el-content(after){
              display:none;
            }
          }
        }
      }
    }
  }
  &-active-bar {
    @include pos-offset-b(.9rem, 0);
    height:.3rem; margin-left:1.5rem;
    background:$color-orange; border-radius:.4rem;
    transition-property: all;
  }
  &-content {
    @include overflow (both, hidden); @include height(20rem);
    .swiper-slide {
      color:$color-white;
      line-height: 200px; text-align:center;
      cursor: pointer;
      background-color:$color-tbl-thead;

      &:nth-child(odd) {background-color:$color-blue4;}
    }
  }
}

.swiper-container-vertical {
  touch-action: pan-x;
  & > .swiper-wrapper {
    flex-direction: column;
  }
}

.swiper-free-mode {
  & > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
  }
}
.swiper-vertical {
  & > .swiper-wrapper {
    flex-direction: column;
  }
}


