@import 'mixin';

#{$field} {
    input[type=checkbox] {
        @include pos-offset-l(0,0); @include el-size(0,0);
        visibility: hidden;
        background-color:transparent; opacity:0; border:0;
        &:checked {
            & ~ .field-icon {
                background: svgIconForm(chk-circle-fill, 0048ff);
            }
            &[readonly] ~ .field-icon, .readonly ~ .field-icon,
            &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-circle-fill, aaa);}
        }
        &[readonly] ~ .field-icon, .readonly ~ .field-icon,
        &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-circle, aaa);}
        &[disabled] ~ .field-label,
        &[disabled] ~ .field-icon, .disabled ~ .field-icon {opacity:.35;}
    }
    &-checkbox {
        @include display(flex);
        #{$field} {
            &-label {@include display(inline-block); margin-bottom:0; vertical-align:middle;}
            &-icon {
                @include display(inline-block);
                @include el-size(2rem, 2rem); min-width:2rem;
                background: svgIconForm(chk-circle);
                vertical-align:middle; margin-right:.5rem;
            }
        }
        & ~ .field-checkbox {margin-left:2rem;}
    }

    &.line, .line {
        input[type=checkbox] {
            &:checked {
                & ~ .field-icon {
                    background: svgIconForm(chk-line-circle, 0048ff);
                }
                &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-line-circle, aaa);}
            }
            &[readonly] ~ .field-icon, .readonly ~ .field-icon,
            &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-line, aaa);}
        }
        #{$field} {
            &-checkbox {
                #{$field} {
                    &-icon {
                        @include display(inline-block);
                        @include el-size(2rem, 2rem); min-width:2rem;
                        background: svgIconForm(chk-line);
                        vertical-align:middle; margin-right:.5rem;
                    }
                }

                &.line-lg {
                    #{$field} {
                        &-icon {
                            @include display(inline-block);
                            @include el-size(2rem, 2rem); min-width:2rem;
                            background: svgIconForm(chk-line-lg);
                            vertical-align:middle; margin-right:.5rem;
                        }
                    }
                }
            }
        }
    }

    &.c-line, .c-line {
        input[type=checkbox] {
            &:checked {
                & ~ .field-icon {
                    background: svgIconForm(chk-line-circle, 0048ff);
                }
                &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-line-circle, aaa);}
            }
            &[readonly] ~ .field-icon, .readonly ~ .field-icon,
            &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-line, aaa);}
        }
        #{$field} {
            &-checkbox {
                #{$field} {
                    &-icon {
                        @include display(inline-block);
                        @include el-size(2rem, 2rem); min-width:2rem;
                        background: svgIconForm(chk-line);
                        vertical-align:middle; margin-right:.5rem;
                    }
                }

                &.c-line-lg {
                    #{$field} {
                        &-icon {
                            @include display(inline-block);
                            @include el-size(2rem, 2rem); min-width:2rem;
                            background: svgIconForm(chk-line-lg);
                            vertical-align:middle; margin-right:.5rem;
                        }
                    }
                }
            }
        }
    }

    &.square, .square {
        input[type=checkbox] {
            &:checked {
                & ~ .field-icon {
                    background: svgIconForm(chk-square-fill, 0048ff);
                }
                &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-square-fill, aaa);}
            }
            &[readonly] ~ .field-icon, .readonly ~ .field-icon,
            &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-square, aaa);}
        }
        #{$field} {
            &-checkbox {
                #{$field} {
                    &-icon {
                        @include display(inline-block);
                        @include el-size(2rem, 2rem); min-width:2rem;
                        background: svgIconForm(chk-square);
                        vertical-align:middle; margin-right:.5rem;
                    }
                }

                &.c-line-lg {
                    #{$field} {
                        &-icon {
                            @include display(inline-block);
                            @include el-size(2rem, 2rem); min-width:2rem;
                            background: svgIconForm(chk-line-lg);
                            vertical-align:middle; margin-right:.5rem;
                        }
                    }
                }
            }
        }
    }

    &.s-line, .s-line {
        input[type=checkbox] {
            &:checked {
                & ~ .field-icon {
                    background: svgIconForm(chk-line-square, 0048ff);
                }
                &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-line-square, aaa);}
            }
            &[readonly] ~ .field-icon, .readonly ~ .field-icon,
            &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-line-lg, aaa);}
        }
        #{$field} {
            &-checkbox {
                #{$field} {
                    &-icon {
                        @include display(inline-block);
                        @include el-size(2rem, 2rem); min-width:2rem;
                        background: svgIconForm(chk-line);
                        vertical-align:middle; margin-right:.5rem;
                    }
                }

                &.s-line-lg {
                    #{$field} {
                        &-icon {
                            @include display(inline-block);
                            @include el-size(2rem, 2rem); min-width:2rem;
                            background: svgIconForm(chk-line-lg);
                            vertical-align:middle; margin-right:.5rem;
                        }
                    }
                }
            }
        }
    }

    &-switch {
        & ~ .field-switch {margin-left:1rem;}
        @include pos(relative); @include display(inline-block);
        @include el-size(5rem, 2.4rem);

        #{$field} {
            &-icon {
                @include pos-offset-l(0, 0) {right:0; bottom:0;}
                @include el-size(5rem, 2.4rem);
                cursor: pointer;
                @include display(inline-block);                
                background-color:$color-gray4; border-radius: 2.4rem;
                
                transition: .4s; -webkit-transition: .4s;
                @include el-content(before) {
                    
                    @include pos-offset-l(50%, .4rem); transform: translate(0, -50%);
                    @include el-size(1rem, 1rem);
                    background-color:$color-white; border-radius: 50%;
                    transition: .4s; -webkit-transition: .4s;
                }
                @include el-content(after) {
                    @include pos-offset-r(50%, .6rem); transform: translate(0, -50%);
                    transition: 1s; -webkit-transition: 1s;
                }
            }
        }

        input {
            &:checked {
                & ~ .field-icon {
                    background-color:$color-blue; background-image:none !important;
                    @include el-content(before) {
                        background-color:$color-white; 
                        @include pos-offset-l(50%, calc(100% - 1.4rem)); transform: translate(0, -50%);
                    }
                    @include el-content(after) {
                        @include pos-offset-l(50%, .6rem); transform: translate(0, -50%);
                    }
                }
                &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {background-image:none !important;}
                &[readonly] ~ .field-icon, .readonly ~ .field-icon {opacity:.8;}
            }
            &[readonly] ~ .field-icon, .readonly ~ .field-icon,
            &[disabled] ~ .field-icon, .disabled ~ .field-icon {background-image:none !important}
            &[readonly] ~ .field-icon, .readonly ~ .field-icon {opacity:.8;}
        }

        &.txt {
            #{$field} {
                &-icon {
                    @include el-content(after) {
                        content:'OFF'; color:$color-white;
                    }
                }
            }

            input:checked ~ .field-icon {
                @include el-content(after) {
                    content:'ON'; color:$color-white;
                }
            }
        }

        &.lg {
            @include el-size(6rem, 3.4rem);
            #{$field} {
                &-icon {
                    @include pos-offset-l(0, 0) {right:0; bottom:0;}
                    @include el-size(6rem, 3.4rem); border-radius:3.4rem;

                    @include el-content(before) {
                        @include el-size(2.4rem, 2.4rem);
                    }
                }
            }
            input:checked ~ .field-icon {
                @include el-content(before) {
                    @include pos-offset-l(50%, calc(100% - 2.8rem)); transform: translate(0, -50%);
                }
            }
        }
    }

    .textBox{
        #{$field} {
          &-checkbox {
            width: 100%;
      
            & ~ .field-checkbox {margin-left:1rem;}
          }
          &-label {
            @include display(block);
            padding:1.5rem 0; width: 100%; text-align:center; border-radius: .4rem;
            border: .1rem solid $color-gray3;
          }
          &-radio {
            width: 100%;
      
            #{$field} {
              &-label {
                .field-icon {
                  @include el-size(2rem, 2rem); display: block; margin: 0 auto .4rem;
                  background: svgIconForm(chk-circle);
                  border: none;
                }
              }
            }
            & ~ .field-radio {margin-left:1rem;}
          }
        }
      
        input[type=checkbox] {
            & ~ .field-label{
              padding: 10px;
              border-radius: 4px;
              border:.1rem solid $color-gray5;
            }
            &:checked {
              & ~ .field-label {
                border:.1rem solid $color-blue;
              }
              &[readonly] ~ .field-label, .readonly ~ .field-label,
              &[disabled] ~ .field-label, .disabled ~ .field-label {border:.1rem solid $color-gray5;}
            }
            &[readonly] ~ .field-label, .readonly ~ .field-label,
            &[disabled] ~ .field-label, .disabled ~ .field-label {border:.1rem solid $color-gray5; color: $color-gray5;}
        }
      
        input[type=radio] {
            &:checked {
              & ~ .field-label {
                .field-icon {
                  @include el-content(before){@include display(none);}
                  background: svgIconForm(chk-circle-fill, 0048ff); border:none; z-index:2;
                }
              }
              & ~ .field-label {border: .1rem solid $color-blue; box-shadow:none; z-index:1;}
            }
            &[readonly] ~ .field-label, .readonly ~ .field-label,
            &[disabled] ~ .field-label, .disabled ~ .field-label{border: .1rem solid $color-gray5; color: $color-gray5;}
            &[readonly] ~ .field-label .field-icon, .readonly ~ .field-label .field-icon,
            &[disabled] ~ .field-label .field-icon, .disabled ~ .field-label .field-icon {background: svgIconForm(chk-circle, aaa);}
          }
      }

    input[type=radio] {
        @include pos-offset-l(0,0); @include el-size(0,0);
        visibility: hidden;
        background-color:transparent; opacity:0; border:0;
        &:checked ~ .field-icon {
            // background: svgIconForm(chk-circle-fill, 0048ff);
            @include pos(relative);
            border:.3rem solid $color-blue;
            @include el-content(before){
                @include pos-offset-l(50%, 50%); transform: translate(-50%, -50%);
                @include el-size(1rem, 1rem);
                background:$color-blue; border-radius:100%;
            }
        }
        &[readonly] ~ .field-icon, .readonly ~ .field-icon,
        &[disabled] ~ .field-icon, .disabled ~ .field-icon {
            // background: svgIconForm(chk-circle-fill, 999);
            background:transparent;
            border:.3rem solid $color-gray5;
            @include el-content(before) {background:$color-gray5;}
        }
        &[disabled] ~ .field-label,
        &[disabled] ~ .field-icon, .disabled ~ .field-icon {opacity:.5;}
    }
    &-radio {
        @include display(flex);
        #{$field} {
            &-label {@include display(inline-block); margin-bottom:0; vertical-align:middle;}
            &-icon {
                @include display(inline-block);
                @include el-size(2rem, 2rem); min-width:2rem;
                border:.3rem solid $color-gray3; border-radius:100%;
                vertical-align:middle; margin-right:.5rem;
            }
        }
        & ~ .field-radio {margin-left:2rem;}
    }

    &-group {
        &.opt-box {
            justify-content: center; align-items: center; width: 100%; flex-wrap: wrap;
            &.chk {padding-top:3.5rem;}

            #{$field} {
                &-radio, &-checkbox {
                    width: 100%; flex:1;
                    &:first-child {
                        .field-label {border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;}
                    }
        
                    &:last-child {
                        .field-label {border-top-right-radius: .5rem; border-bottom-right-radius: .5rem;}
                    }
                }
                &-radio ~ .field-radio, &-checkbox ~ .field-checkbox {margin:0; margin-left:-1px;}
                &-label {
                    @include display(block);
                    padding:1.5rem; width: 100%; text-align:center;
                    box-shadow: inset 0 0 0 .1rem $color-gray3;

                    & + .field-label {margin-left: -.1rem;}
                }

                &-checkbox {
                    @include display(inline-flex) {flex-direction:column; justify-content: center; align-items: center;}
                    #{$field} {
                        &-label {padding:4.5rem 1.5rem 1.5rem;}
                        &-icon {
                            @include el-size(2rem, 2rem); min-width:2rem;
                            background: svgIconForm(chk-circle);
                            vertical-align:top; margin-right:.5rem; margin-bottom:-3.5rem; z-index:2;
                        }
                    }
                    & ~ .field-radio {margin-left:2rem;}
                }
            }

            input[type=radio] {
                &:checked {
                    & ~ .field-icon {
                        @include el-content(before){@include display(none);}
                        background: svgIconForm(chk-circle-fill, fff); border:none; z-index:2;
                    }
                    & ~ .field-label {background:$color-blue; box-shadow:none; color:$color-white; z-index:1;}
                    &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                    &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-circle-fill, aaa);}
                }
                &[readonly] ~ .field-icon, .readonly ~ .field-icon,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {background: svgIconForm(chk-circle, aaa);}
                &[disabled] ~ .field-label,
                &[disabled] ~ .field-icon, .disabled ~ .field-icon {opacity:.35;}
            }
            
        }
    }
}

