/* TABLE */

.splitWrap {
  display:flex; justify-content:start; @include fontSize("xs"); font-weight: 400; margin-top: 10px;
  .desc {
    background:#d3ffe5; width:500px; padding:15px; border:1px #8ed0aa solid; display: none; margin-right:50px;
    p{
      &::before {display:inline-block; content:''; background:red; width:2px; height:10px; margin-right:5px;}
    }
    > p {
      & ~ p, & ~ ul {margin-top:10px;}
    }
    
  }
  ul{
    p{
      &::before {display:none;}
    }
  } 
  b {color:#c32000;}
  strong {
    color:#1d7500;
    font-weight: bold;
    + div, + ul {margin-top:10px;}
  }
  .bul{
    > li {position: relative; margin: 2px 0 0 0; padding: 0 0 4px 13px; color: #000;
    &::before {content: ""; position: absolute; top:7px; left:5px; width:3px; height:3px; border-radius: 100%; background-color: #01f;}
    }
  }
  .case {counter-reset: number 0;
    > li {padding:10px 0; border-top:1px #8ed0aa solid;
    &::before {display:inline-block; counter-increment: number 1; content: 'CASE.' counter(number); color:#fff; font-weight:bold; background:#134c00; padding:3px 5px; margin-right:5px; border-radius:3px; font-size:.8rem; font-family:'arial';}
    }
  }
  .tblExWrap {
    > p:first-child {margin-top:0;}
    p {margin:40px 0 10px;}
  }
  table {
    padding:0; border:0; border-spacing:0px; border-collapse:collapse; width:100%;
    table {width:100%;}
    + table {margin-top:20px;}
  }
  th, td {padding:10px; border:1px #bbb solid;}
  tbody th {background:#feffea;}
  thead th {background:#eafaff;}
  thead th, tbody th {border-color:#666;}
  caption {
    position:relative !important; padding:15px 10px 5px !important; background:#ddd !important; font-size:11px !important; border:1px #ccc solid !important;
    &::before {display:inline-block !important; content:'Table Caption' !important; position:Absolute !important; top:-5px !important; left:-5px !important; padding:3px 10px !important; background:#333 !important; color:#fff !important; font-size:6px !important;}
    > p {margin:0 !important;}
  }
  legend, caption {overflow: visible !important; height: auto !important; width: auto !important; margin: auto !important; line-height: inherit !important; clip: auto;} 
}

