// ir
@mixin ir-reset($width, $height) {
    position:absolute !important; 
    overflow:hidden !important; 
    height:$height !important; 
    width:$width !important; 
    margin:0 !important; 
    padding:0 !important;
    line-height:0 !important;
    border:0;
}
@mixin ir($ir){
    @if ($ir == "hide") {
        @include ir-reset(1px,1px);
        clip:rect(1px 1px 1px 1px); 
    } @else if($ir == "blind") {
        @include ir-reset(0,0);
        display:block !important; 
        font-size:1px !important; 
        z-index:-1;
    } @else if($ir == "screen") {
        @include ir-reset(0,0);
        font-size:1px; 
        text-indent:-9999px;
    } 
}

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
        height:0;
    }
}
@mixin eff-direction($direction) {
    @if ($direction == left){
        left:0;
        @content;
    } @else if ($direction == right){
        right:0;
        @content;
    } @else if ($direction == center){
        left:50%;
        transform:translateX(-50%);
        @content;
    }
}

@mixin el-content($el-type) {
    @if ($el-type == "after") {
        &::after {
            content: "";
            display: block;
            @content;
        }
    } @else if ($el-type == "before") {
        &::before {
            content: "";
            display: block;
            @content;
        }
    } @else if ($el-type == "both") {
        &::before {
            content: "";
            display: block;
            @content;
        }
        &::after {
            content: "";
            display: block;
            @content;
        }
    }
}

// effect
@mixin transition($time, $el, $effect) {
    transition:$time $el $effect;
    @content;
}

@mixin line-effect($color, $el-type, $direction) {
    backface-visibility:hidden;
	position:relative;
    // transition:0.5s color ease;
	text-decoration:none;
	color:$color;

    @include el-content($el-type) {
        backface-visibility:hidden;
        position:absolute;
        @include eff-direction($direction);
        @content;
    }
}
// width, height
@mixin width ($width:100%) {
    width:$width;
    @content;
}

@mixin height ($height:100%){
    height:$height;
    @content;
}

@mixin el-size ($width, $height) {
    width:$width; 
    height:$height;
    @content;
}
@mixin fullHeight ($height:100vh)  {
    @include height;
    height:$height;
    min-height: $height;
}

// align, position, display, float
@mixin align($type, $offset) {
    @if ($type == "text") {
        text-align:$offset !important;
    } @else if($type == "valign") {
        vertical-align:$offset !important;
    }
}

@mixin auto-center-align($pos) {
    position: $pos;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

@mixin auto-offset-align($top, $left) {
    top: $top;
    left: $left;
    transform: translate( -$top, -$left);
}

@mixin auto-vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @content;
}

@mixin auto-horizontal-align($pos) {
    position: $pos;
    left: 50%;
    transform: translateX(-50%);
    @content;
}

@mixin pos($type) {position:$type; @content;}
@mixin pos-offset-l($top, $left, $pos:absolute) {position:$pos; top:$top; left:$left; @content;}
@mixin pos-offset-r($top, $right, $pos:absolute) {position:$pos; top:$top; right:$right; @content;}
@mixin pos-offset-b($bottom, $left, $pos:absolute) {position:$pos; bottom:$bottom; left:$left; @content;}
@mixin float($type) {float:$type;}
@mixin flex($direction:row, $wrap:nowrap, $j-content:flex-start, $al-items:center) {
    flex-direction:$direction; // row, row-reverse, column, column-reverse
    flex-wrap:$wrap; // nowrap, wrap, wrap-reverse
    justify-content:$j-content; // flex-start, flex-end, center, space-around, space-between, space-evenly
    align-items:$al-items; // stretch, flex-start, flex-end, center
    // align-content:$al-content; // flex-start, flex-end, center, space-around, space-between, space-evenly
    @content;
}

@mixin flexgrow($grow, $shrink, $basis){
    flex-grow:$grow; 
    flex-shrink:$shrink; 
    flex-basis:$basis;
    @content;
}

@mixin flexbox($grow, $shrink, $size){
    flex:$grow $shrink $size;
    @content;
    // $grow :0일 경우 여분의 공간을 차지 하지 않음. 1일 경우 여분의 공간을 차지함
    // $shring : 0일 경우 화면 비율이 변경되도 공간이 줄지 않음. 숫자가 커질수록 공간이 더 많이 줄어듬
    // $size : flex가 적용된 요소의 기본크기를 지정함
}
@mixin display($type) {display:$type; @content;}

// font
@mixin webfont ($fontName, $fontweight) {
    font : {
        family: $fontName;
        weight: $fontweight;
    }
    @content;
}

@mixin fontSize ($size) {
    @if ($size== "xxs") {
        font-size: .9rem;
    } @else if($size== "xs") {
        font-size: 1.2rem;
    } @else if($size== "s") {
        font-size: 1.3rem;
    } @else if($size== "base") {
        font-size: 1.4rem; // default size
    } @else if($size== "md") {
        font-size: 1.6rem;
    } @else if($size== "lg") {
        font-size: 1.8rem;
    } @else if($size== "xl") {
        font-size: 2rem;
    } @else if($size== "xxl") {
        font-size: 2.2rem;
    } @else if($size== "xxxl") {
        font-size: 2.4rem;
    } @else {
        font-size:$size;
    }
    @content;
}

// overflow
@mixin overflow ($offset, $overflow) {
    @if ($offset== x) {
        // overflow:hidden;
        overflow-x:$overflow;
    } @else if ($offset== y) {
        // overflow:hidden;
        overflow-y:$overflow;
    } @else if ($offset== both) {
        overflow:$overflow;
    }
}

// btn
@mixin btn-v($vertical) {
    height: $vertical+ rem;
    line-height: ($vertical - 0.1)+ rem;
}

@mixin btnSize($size, $pad1, $pad2) {
    padding:$pad1+rem $pad2+rem;
    @if ($size == "xs"){
        @include fontSize("xxs");
    } @else if ($size == "s"){
        @include fontSize("xs");
    } @else if ($size == "md"){
        @include fontSize("base");
    } @else if ($size == "lg"){
        @include fontSize("md");
    } @else if ($size == "xl"){
        @include fontSize("lg");
    }
}

@mixin btn($type) {
    border-radius:.3rem;
    &:not(.disabled):not([disabled]):not([aria-disabled="disabled"]):focus {
        box-shadow:0 0 0 0.1rem rgba(0, 0, 0, .1), 0 2px 5px 0.2rem rgba(0, 0, 0, .15);
    }
    &[aria-disabled="disabled"], &[disabled], &.disabled {
        opacity: .5; 
        cursor:not-allowed;
        &:hover, &:focus {
            opacity: .5; box-shadow: none;
        }
    }
    @if ($type == "line") {
        border:1px $color-gray1 solid;
        color:$color-gray1;
        background:$color-white;
        &:not(.disabled):not([disabled]):not([aria-disabled="disabled"]):hover {            
            background:$color-gray3;
            color:$color-white;
            @include transition(.2s, all, ease-in-out);
            @content;
        }
        &:not(.disabled):not([disabled]):not([aria-disabled="disabled"]):focus, &.is-active {
            background:$color-gray3; 
            border-color:$color-gray4;
            color:$color-white;
            @include transition(.2s, all, ease-in-out);
            @content;
        }
        &[aria-disabled="disabled"], &[disabled], &.disabled {
            opacity: .5;
            background:$color-white; 
            border-color:$color-gray1;
            color:$color-gray1;
        }
        @content;
    } @else if ($type == "bg"){ 
        border:1px $color-gray2 solid;       
        background:$color-gray2;
        color:$color-white;
        &:not(.disabled):not([disabled]):not([aria-disabled="disabled"]):hover {            
            background:$color-gray4; 
            border-color:$color-gray4;
            color:$color-gray1;
            @include transition(.2s, all, ease-in-out);
            @content;
        }
        &:not(.disabled):not([disabled]):not([aria-disabled="disabled"]):focus, &.is-active {
            background:$color-gray4; 
            border-color:$color-gray4;
            color:$color-gray1;
            @include transition(.2s, all, ease-in-out);
            @content;
        }
        &[aria-disabled="disabled"], &[disabled], &.disabled {
            opacity: .5;
            color:$color-gray7;
        }
        @content;
    }
}

@mixin tooltip-arrow($direction, $offest1, $offest2, $translate1, $translate2) {
    @include pos(absolute);
    border:.3rem solid transparent;    

    @if($direction == top){
        transform: translate($translate1, $translate2);
        bottom:$offest1; 
        left:$offest2;
        border-top: .4rem solid $color-gray5;
        border-bottom:none;

    } @else if($direction == bottom){
        transform: translate($translate1, $translate2);
        top:$offest1; 
        left:$offest2;
        border-bottom: .4rem solid $color-gray5;
        border-top:none;
    } @else if($direction == left){
        transform: translate($translate1, $translate2);
        top:$offest1; 
        right:$offest2;
        border-left: .4rem solid $color-gray5;
        border-right:none;
    } @else if($direction == right){
        transform: translate($translate1, $translate2);
        top:$offest1; 
        left:$offest2;
        border-right: .4rem solid $color-gray5;
        border-left:none;
    }
}

// FORM SVG ICON
@function svgIconForm($iconName, $color: 666, $backgroundRepeat: no-repeat) {
    $iconList: (
    chk-line:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E",

    chk-line-lg:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z'/%3E%3C/svg%3E",

    chk-line-circle:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z'/%3E%3Cpath d='M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z'/%3E%3C/svg%3E",

    chk-circle: "%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z'/%3E%3C/svg%3E",

    chk-circle-fill:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/%3E%3C/svg%3E",

    chk-line-square:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z'/%3E%3Cpath d='m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z'/%3E%3C/svg%3E",

    chk-square:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z'/%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z'/%3E%3C/svg%3E",

    chk-square-fill:"%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$color}' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z'/%3E%3C/svg%3E",

    );
    $svgIcon: map-get($iconList, $iconName);
    $backgroundImage: url("data:image/svg+xml;charset=utf8,#{$svgIcon}");
    @return $backgroundImage $backgroundRepeat;
    // @return url("data:image/svg+xml;charset=utf8,#{$svgIcon}");
    //background-image: svgIconForm(check-circle);
}

// fontawesome ICO
@mixin fontICO ($direction, $cont) {

    @if($direction == before){
        @include el-content("before"){
            @include display(inline-block);
            @include align(vertical, middle);
            content:$cont;
            @include webfont('iconFont', 900);
            @content;
        }

    } @else if($direction == after){
        @include el-content("after"){
            @include display(inline-block);
            @include align(vertical, middle);
            content:$cont;
            @include webfont('iconFont', 900);
            margin-left:.5rem;
            @content;
        }
    }

    
    // f059
}

// gradient
@mixin bg-gradient($type, $angle, $color1, $color2){
    @if ($type == line) {
        background:linear-gradient($angle, $color1, $color2);
        @content;
    } @else if ($type == circle) {
        background:radial-gradient(circle, $color1, $color2);
        @content;
    }
    
}

//icoSet
@mixin icoSet($width, $height, $mgLeft, $bgL, $bgT) {
    content:""; 
    display: inline-block; 
    width: $width; 
    height: $height; 
    margin-left: $mgLeft; 
    background-image:url(/votenet/resources/m/com/img/icoSet.png);
    background-repeat: no-repeat;
    background-position: $bgL $bgT;
    vertical-align: middle; 
}

//text ellipsis
@mixin ellipsis($line: 1, $height) {

    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow:ellipsis;
        -moz-binding:url(ellipsis.xml#ellipsis);
        white-space: nowrap;
        height:$height;
    } @else {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow:ellipsis;
        -moz-binding:url(ellipsis.xml#ellipsis);
        height:$height;
    }
}

@mixin split($col, $space) {
    width:calc(100%/$col - ($space * ($col - 1)));
}

/* function */
//font size 2배수
@function size($size) {
    @return $size / 2 / $font-size#{rem};
}

// px to rem
@function rem($pixels){
    @return $pixels / $font_size + rem;
}

//iOS - for notch
@function cons($directon) {
    @return constant(safe-area-inset-#{$directon});
}
@function safe($directon) {
    @return env(safe-area-inset-#{$directon});
}
@function consm($directon) {
    @return constant(safe-area-inset-#{$directon}) - 0.625rem;
}
@function safem($directon) {
    @return env(safe-area-inset-#{$directon}) - 0.625rem;
}